<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Log in / Sign up</title>
  
      <link rel="stylesheet" href="../../static/style.css">
  
</head>

<body>

  <div class="container">
  <div class="box"></div>
  <div class="container-forms">
    <div class="container-info">
      <div class="info-item">
        <div class="table">
          <div class="table-cell">
            <p>
              Have an account?
            </p>
            <div class="btn">
              Log in
            </div>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="table">
          <div class="table-cell">
            <p>
              Don't have an account? 
            </p>
            <div class="btn">
              Sign up
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-form">
      <div class="form-item log-in">
        <div class="table">
          <div class="table-cell">
              <form method="post" action="/login_register_request/">
                {% csrf_token %}
    {{ form.as_p }}
            <input name="Username" id ="Username_login" placeholder="Username" type="text" />
            <input name="Password" id="password_login" placeholder="Password" type="Password" />
            <input class="btn" type="submit" value="Log in">
            </form>
          </div>
        </div>
      </div>
      <div class="form-item sign-up">
        <div class="table">
          <div class="table-cell">
            <input name="email" placeholder="Email" type="text" />
            <input name="fullName" placeholder="Full Name" type="text" />
            <input name="Username" placeholder="Username" type="text" />
            <input name="Password" placeholder="Password" type="Password" />
            <div class="btn" onclick="sign_up()">
              Sign up
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


   <script src="../../static/jquery.min.js"></script>
    <script  src="../../static/index.js"></script>

</body>
</html>
